.ebenecloud1 {
  position: relative;
  display: flex;
  margin: auto;
  width: 360px;
  top: 1px;
  left: -218px;
}
.ebenecloud1 img {
  width: 358px;
  height: 292px;
}
.ebenecloud1text {
  font-family: "myfont2";
  font-size: 42px;
  text-decoration: none;
  color: black;
  position: relative;
  display: flex;
  margin: auto;
  top: -175px;
  left: -190px;
  width: 270px;
}
.ebenecloud1text:hover {
  color: rgb(13, 6, 113);
}

.ebenecloud2 {
  position: relative;
  display: flex;
  margin: auto;
  width: 420px;
  top: -275px;
  left: 188px;
}
.ebenecloud2 img {
  width: 414x;
  height: 238px;
}
.ebenecloud2text {
  position: relative;
  display: flex;
  margin: auto;
  font-family: "myfont2";
  font-size: 42px;
  color: rgb(0, 0, 0);
  padding-top: 25px;
  padding-left: 80px;
  width: 345px;
  height: 80px;
  z-index: 2;
  top: -388px;
  left: 180px;
}
.ebenecloud2text:hover {
  color: rgb(13, 6, 113);
}
.ebenecloud2text:hover .dropdowncontent {
  display: flex;
}

.dropdowncontent {
  position: relative;
  display: none;
  margin: auto;
  font-family: "myfont2";
  font-size: 42px;
  color: black;
  top: 0px;
  left: -400px;
  width: 450px;
  height: 240px;
  z-index: 60;
}
.dropdowncontent img {
  width: 175px;
  height: 143px;
}
.ebenecloud2menu1 {
  position: relative;
  margin: auto;
  top: 10px;
  left: -20px;
  width: 150px;
  height: 122px;
  z-index: 60;
}
.ebenecloud2menu1text {
  position: relative;
  margin: auto;
  text-align: center;
  top: -95px;
  left: -13px;
  width: 180px;
  height: 60px;
  font-size: 25px;
  z-index: 60;
  transform: rotate(-0deg);
  color: rgb(13, 6, 113);
}
.ebenecloud2menu1:hover .ebenecloud2menu1text {
  color: rgb(13, 6, 113);
  text-shadow: 1px 1px rgb(132, 248, 46);
}
.ebenecloud2menu2 {
  position: relative;
  margin: auto;
  top: 45px;
  left: -28px;
  width: 150px;
  height: 122px;
  z-index: 60;
}
.ebenecloud2menu2text {
  position: relative;
  margin: auto;
  text-align: center;
  top: -90px;
  left: -15px;
  width: 180px;
  height: 60px;
  font-size: 25px;
  z-index: 60;
  transform: rotate(-0deg);
}
.ebenecloud2menu2:hover .ebenecloud2menu2text {
  color: rgb(13, 6, 113);
  text-shadow: 1px 1px rgb(132, 248, 46);
}
.ebenecloud2menu3 {
  position: relative;
  margin: auto;
  top: 20px;
  left: -20px;
  width: 150px;
  height: 122px;
  z-index: 60;
}
.ebenecloud2menu3text {
  position: relative;
  margin: auto;
  text-align: center;
  top: -90px;
  left: -15px;
  width: 180px;
  height: 60px;
  font-size: 25px;
  z-index: 60;
  transform: rotate(-0deg);
  text-shadow: 1px 1px rgb(132, 248, 46);
}
.ebenecloud2menu3:hover .ebenecloud2menu3text {
  color: rgb(13, 6, 113);
  /* text-shadow: 1px 1px rgb(132, 248, 46);*/
}

.open {
  color: rgb(13, 6, 113);
  text-shadow: 1px 1px rgb(132, 248, 46);
}
.open2 {
  color: rgb(13, 6, 113);
  text-shadow: 2px 2px rgb(132, 248, 46);
}
.close {
  color: rgb(0, 0, 0);
  text-shadow: none;
}
