.sichtbar1 {
  position: absolute;
  transition-property: width;
  transition-duration: 2s;
  transition-timing-function: linear;
  transition-delay: 1s;
  height: 210px;
  width: 500px;
  left: 320px;
}
.unsichtbar1 {
  /*display: none;*/
  position: absolute;
  opacity: 0%;
  width: 490px;
  height: 200px;
  top: 3px;
  left: 3px;
  z-index: 1;
}
.unsichtbar1 img {
  position: absolute;
}

.sichtbar1:hover .unsichtbar1 {
  /* display: flex;*/
  opacity: 100%;
  transition-property: opacity;
  transition-duration: 1.5s;
  transition-timing-function: linear;
}

.sichtbar1:hover .wolke1text {
  /* display: flex;*/
  opacity: 0%;
  transition-property: opacity;
  transition-duration: 1.5s;
  transition-timing-function: linear;
}

.sichtbar1:hover .wolke2text1 {
  color: rgb(15, 7, 119);
}

.sichtbar2 {
  position: absolute;
  height: 280px;
  width: 808px;
  left: 12px;
  top: 240px;
  z-index: 10;
}
.unsichtbar2 {
  position: absolute;
  opacity: 0%;
  /*display: none;*/
  height: 290px;
  width: 800px;
  top: 2px;
  left: 2px;
}
.unsichtbar2 img {
  position: absolute;
}
.sichtbar2:hover .unsichtbar2 {
  /*display: flex;*/
  opacity: 100%;
  transition-property: opacity;
  transition-duration: 1.5s;
  transition-timing-function: linear;
}
.sichtbar2:hover .wolke2text2 {
  color: rgb(15, 7, 119);
}

.aktiviert {
  color: rgb(15, 7, 119);
  text-shadow: 1px 1px rgb(132, 248, 46);
}

.aktiviert2 {
  color: rgb(15, 7, 119);
  text-shadow: 2px 2px rgb(132, 248, 46);
}

.deaktiviert {
  color: rgb(0, 0, 0);
  text-shadow: none;
}

.solution {
  position: absolute;
  height: 220px;
  width: 460px;
  top: 710px;
  z-index: 50;
}

.solutiontext {
  position: absolute;
  display: flex;
  white-space: nowrap;
  top: 710px;
  left: 20px;
  z-index: 1;
}

.inputtext {
  left: 0px;
  top: 5px;
  width: 243px;
  height: 94px;
  border: none;
  opacity: 50;
  border-radius: 25% 15px 25%;
  background: none;
  border: 2px solid black;
}

.ebeneinput1 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  top: 36px;
  left: 142px;
  height: 100px;
  width: 245px;
  z-index: 10;
}

.ebeneinput2 {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  top: 63px;
  left: 110px;
  height: 105px;
  width: 270px;
  z-index: 10;
}

.word1 {
  position: absolute;
  display: flex;
  pointer-events: none;
  top: 110px;
  left: 20px;
}

.word2 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  top: 35px;
  left: 142px;
  height: 100px;
  width: 250px;
  z-index: 15;
}

.word3 {
  position: absolute;
  display: flex;
  pointer-events: none;
  top: 195px;
  left: 20px;
}

.invisible {
  display: none;
}
