@font-face {
    font-family: "myfont";
    src: url("myfont-Light.ttf");
}

@font-face {
    font-family: "myfont2";
    src: url("myfont-Regular.ttf");
}

/*
div {    border: 1px solid green; 
    }
*/


.ebenemaster {
  margin: auto;
  width: 800px;
  height: 1200px;
}



.ebenecloud1 {
  position: relative;
  display: flex;
  margin: auto;
  width: 360px;
  top: 1px;
  left: -218px;
}
.ebenecloud1 img {
  width: 358px;
  height: 292px;
}
.ebenecloud1text {
  font-family: "myfont2";
  font-size: 42px;
  text-decoration: none;
  color: black;
  position: relative;
  display: flex;
  margin: auto;
  top: -175px;
  left: -190px;
  width: 270px;
}
.ebenecloud1text:hover {
  color:rgb(13, 6, 113);
  }


.ebenecloud2 {
  position: relative;
  display: flex;
  margin: auto;
  width: 420px;
  top: -275px;
  left: 188px;
}
.ebenecloud2 img{
  width: 414x;
  height: 238px;
}
.ebenecloud2text {
  position: relative;
  display: flex;
  margin: auto;
  font-family: "myfont2";
  font-size: 42px;
  color: rgb(0, 0, 0);
  padding-top: 25px;
  padding-left: 80px;
  width: 345px;
  height: 80px;
  z-index: 2;
  top: -388px;
  left: 180px;
}
.ebenecloud2text:hover {
  color:rgb(13, 6, 113);
}
.ebenecloud2text:hover .dropdowncontent{
  display: flex;
}



.dropdowncontent {
  position: relative;
  display: none;
  margin: auto;
  font-family: "myfont2";
  font-size: 42px;
  color: black;
  top: 0px;
  left: -400px;
  width: 450px;
  height: 240px;
  z-index: 60;
}
.dropdowncontent img {
  width: 175px;
  height: 143px;
}
.ebenecloud2menu1 {
  position: relative;
  margin: auto;
  top: 10px;
  left: -20px;
  width: 150px;
  height: 122px;
  z-index: 60;
}
.ebenecloud2menu1text {
  position: relative;
  margin: auto;
  text-align: center;
  top: -90px;
  left: -15px;
  width: 180px;
  height: 60px;
  font-size:25px;
  z-index: 60;
  transform: rotate(-0deg);
}
.ebenecloud2menu1:hover .ebenecloud2menu1text {
  color:rgb(13, 6, 113);
  text-shadow: 1px 1px rgb(132, 248, 46);
}
.ebenecloud2menu2 {
  position: relative;
  margin: auto;
  top: 40px;
  left: -30px;
  width: 150px;
  height: 122px;
  z-index: 60;
}
.ebenecloud2menu2text {
  position: relative;
  margin: auto;
  text-align: center;
  top: -90px;
  left: -15px;
  width: 180px;
  height: 60px;
  font-size:25px;
  z-index: 60;
  transform: rotate(-0deg);
}
.ebenecloud2menu2:hover .ebenecloud2menu2text {
  color:rgb(13, 6, 113);
  text-shadow: 1px 1px rgb(132, 248, 46);
}
.ebenecloud2menu3 {
  position: relative;
  margin: auto;
  top: 20px;
  left: -20px;
  width: 150px;
  height: 122px;
  z-index: 60;
}
.ebenecloud2menu3text {
  position: relative;
  margin: auto;
  text-align: center;
  top: -90px;
  left: -15px;
  width: 180px;
  height: 60px;
  font-size:25px;
  z-index: 60;
  transform: rotate(-0deg);
}
.ebenecloud2menu3:hover .ebenecloud2menu3text {
  color:rgb(13, 6, 113);
  /* text-shadow: 1px 1px rgb(132, 248, 46);*/
}

.open {
  color:rgb(13, 6, 113);
  text-shadow: 1px 1px rgb(132, 248, 46);
}





.ebenesetup {
  position: relative;
  display: flex;
  margin: auto;
  width: 400px;
  height: 200px;
  top: -1590px;
  left: 180px;
}
.ebenewolkesetup {
  position: relative;
  display: none;
  margin: auto;
  z-index: 10;
  width: 175px;
  height: 143px;
  top: -140px;
  left: 5px;
}
.ebenetextsetup {
  position: relative;
  display: flex;
  margin: auto;
  font-family: "myfont2";
  font-size: 42px;
  color: black;
  padding-top: 100px;
  padding-left: 100px;
  width: 200px;
  height: 80px;
  z-index: 2;
  top: 35px;
  left: -18px;
}
.ebenewolkesetup img {
width: 175px;
height: 143px;
}
.ebenetextsetup:hover {
  color:rgb(13, 6, 113);
}
.ebenetextsetup:hover .ebenewolkesetup{
  display: flex;
}



.wolkeflaggen {
  position: relative;
  display: flex;
  margin: auto;
  border: none;
  background: none;
}
.ebeneflaggen {
  position: relative;
  display: flex;
  margin: auto;
  width: 68px;
  height: 15px;
  top: 0px;
  left: -135px;
}
.ebeneflaggen img{
  width: 49px;
  height: 32px;
}



.ebenebaum {
  position: relative;
  display: flex;
  margin: auto;
  top: -55px;
  left: 180px;
  width: 220px;
  z-index: 1;
}
.ebenebaum img {
  width: 218px;
  height: 248px;
}


.ebenewiese {
  position: relative;
  display: flex;
  margin: auto;
  top: -116px;
  left: 0px;
  width: 796px;
}
.ebenewiese img {
  width: 796px;
  height: 338px;
}


.ebenebus {
  position: relative;
  display: flex;
  margin: auto;
  top: -410px;
  left: -200px;
  width: 380px;
  z-index: 10;
}
.ebenebus img {
  width: 398px;
  height: 278px;
}
.ebenebus {
  animation-name: chug;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes chug {
  0% {
    transform: translateX(100%);
  }
}
