@font-face {
    font-family: "myfont";
    src: url("myfont-Light.ttf");
}

@font-face {
    font-family: "myfont2";
    src: url("myfont-Regular.ttf");
}

/*
  div {
    border: 2px solid green;
  }
*/

  .ebenecloud1 {
    position: relative;
    display: flex;
    margin: auto;
    top: 20px;
    left: -150px;
    width: 520px;
  }

  img.could1 {
    width: 358px;
    height: 292px;
  }
  .ebenecloud1text {
    font-family: "myfont2";
    font-size: 42px;
    position: relative;
    display: flex;
    margin: auto;
    top: -145px;
    left: -70px;
    width: 520px;
  }

  .ebenecloud2 {
    position: relative;
    display: flex;
    margin: auto;
    top: -275px;
    left: 180px;
    width: 420px;
  }
  img.cloud2 {
    width: 414x;
    height: 238px;
  }
  .ebenecloud2text {
    font-family: "myfont2";
    font-size: 42px;
    position: relative;
    display: flex;
    margin: auto;
    top: -360px;
    left: 200px;
    width: 320px;
    z-index: 2;
  }
  .ebenecloud2text:hover {
    font-family: "myfont2";
    font-size: 42px;
    position: relative;
    display: flex;
    margin: auto;
    top: -360px;
    left: 200px;
    width: 320px;
    z-index: 2;
    color:rgb(18, 8, 148);
  }

  .ebenebaum {
    position: relative;
    display: flex;
    margin: auto;
    top: -280px;
    left: 250px;
    width: 320px;
    z-index: 5;
  }
  
    img.baum {
    width: 304px;
    height: 345px;
  }

  .ebenewiese {
    position: relative;
    display: flex;
    margin: auto;
    top: -420px;
    left: 0px;
    width: 820px;
  }
  img.wiese {
    width: 818px;
    height: 420px;
  }
  
  .ebenebus {
    position: relative;
    display: flex;
    margin: auto;
    top: -720px;
    left: -200px;
    width: 400px;
    z-index: 10;
  }
  img.bus {
    width: 398px;
    height: 278px;
  }
  
  .ebenebus {
    animation-name: chug;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }

  @keyframes chug {
    0% {
      transform: translateX(100%);
    }
  }

