.sichtbar1:hover .unsichtbar1 {
  display: flex;
}

.sichtbar1:hover .wolke2text1 {
  color: rgb(18, 8, 148);
}

.sichtbar2 {
  position: absolute;
  height: 280px;
  width: 808px;
  left: 12px;
  top: 240px;
  z-index: 10;
}
.unsichtbar2 {
  position: absolute;
  display: none;
  height: 290px;
  width: 800px;
  top: 2px;
  left: 2px;
}
.unsichtbar2 img {
  position: absolute;
}
.sichtbar2:hover .unsichtbar2 {
  display: flex;
}
.sichtbar2:hover .wolke2text2 {
  color: rgb(18, 8, 148);
}

.aktiviert {
  color: rgb(13, 6, 113);
  text-shadow: 1px 1px rgb(132, 248, 46);
}

.aktiviert2 {
  color: rgb(13, 6, 113);
  text-shadow: 2px 2px rgb(132, 248, 46);
}

.deaktiviert {
  color: rgb(0, 0, 0);
  text-shadow: none;
}
