@font-face {
  font-family: "myfont";
  src: url("myfont-Light.ttf");
}

@font-face {
  font-family: "myfont2";
  src: url("myfont-Regular.ttf");
}
/*
div {
  border: 1px solid green;
}
*/
.ebenemaster {
  margin: auto;
  width: 800px;
  height: 1200px;
}
.ebenewortausgabede {
  font-family: "myfont2";
  position: relative;
  display: flex;
  margin: auto;
  top: -24px;
  left: -286px;
}
.ebenewortausgabetextde {
  position: relative;
  display: table-cell;
  text-align: center;
  margin: auto;
  font-family: "myfont2";
  font-size: 34px;
  text-decoration: none;
  color: black;
  width: 265px;
  height: 100px;
  top: 0px;
  left: -0px;
}

.ebenesolution {
  position: relative;
  display: flex;
  margin: auto;
  width: 450px;
  height: 200px;
  top: -1120px;
  left: -172px;
}
.ebeneengdiv {
  font-family: "myfont2";
  font-size: 42px;
  padding-left: 0px;
  padding-top: 5px;
  position: absolute;
  display: flex;
  margin: auto;
  width: 445px;
  height: 190px;
  top: 0px;
  left: 0px;
}
.ebeneeng {
  font-family: "myfont2";
  font-size: 42px;
  padding-left: 0px;
  padding-top: 5px;
  position: absolute;
  display: flex;
  margin: auto;
  width: 00px;
  height: 140px;
  top: 20px;
  left: 15px;
}
.ebeneengtext {
  position: relative;
  font-family: "myfont2";
  font-size: 42px;
  white-space: "nowrap";
  padding-left: 0px;
  padding-top: 65px;
  position: absolute;
  display: none;
  margin: auto;
  width: 300px;
  height: 90px;
  top: 25px;
  left: 25px;
}
/*
.ebenesolution:hover .ebeneengtext {
  display: flex;
}
*/
.sichtbarjavaadd {
  position: relative;
  font-family: "myfont2";
  font-size: 42px;
  white-space: "nowrap";
  padding-left: 0px;
  padding-top: 0px;
  position: absolute;
  display: flex;
  margin: auto;
  width: 440px;
  height: 40px;
  top: 80px;
  left: 15px;
  z-index: -2;
}
.ebeneclose {
  position: relative;
  font-family: "myfont2";
  font-size: 42px;
  white-space: "nowrap";
  padding-left: 50px;
  padding-top: 65px;
  position: absolute;
  display: none;
  margin: auto;
  width: 300px;
  height: 90px;
  top: -225px;
  left: 25px;
}

.ebenebaum {
  position: relative;
  display: flex;
  margin: auto;
  top: -55px;
  left: 180px;
  width: 220px;
  z-index: 1;
}
.ebenebaum img {
  width: 218px;
  height: 248px;
}

.ebenewiese {
  position: relative;
  display: flex;
  margin: auto;
  top: -116px;
  left: 0px;
  width: 796px;
}
.ebenewiese img {
  width: 796px;
  height: 338px;
}

.ebenebus {
  position: relative;
  display: flex;
  margin: auto;
  top: -410px;
  left: -200px;
  width: 380px;
  z-index: 10;
}
.ebenebus img {
  width: 398px;
  height: 278px;
}
.ebenebus {
  animation-name: chug;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes chug {
  0% {
    transform: translateX(100%);
  }
}
