@font-face {
  font-family: "myfont";
  src: url("myfont-Light.ttf");
}

@font-face {
  font-family: "myfont2";
  src: url("myfont-Regular.ttf");
}

.masterbackground {
  position: relative;
  margin: auto;
  display: flex;
  height: 1000px;
  width: 1024px;
}

.ebenegreen {
  position: relative;
  margin: auto;
  left: -200px;
  top: -900px;
  width: 450px;
  height: 170px;
  padding-top: 15px;
  padding-left: 20px;
  border: 1px solid rgb(77, 76, 76);
  background-color: rgb(6, 158, 62);
  text-shadow: 1px 1px rgb(71, 217, 35);
}

.uberschrift {
  font-family: "myfont2";
  font-size: 38px;
  text-decoration: none;
  color: #000000;
}
.uberschrift:hover {
  font-family: "myfont2";
  font-size: 38px;
  text-decoration: none;
  color: rgb(18, 8, 148);
}

.text1 {
  font-family: "myfont2";
  font-size: 28px;
}

.text2 {
  border: none;
  font-family: "myfont2";
  font-size: 28px;
  padding-top: 5px;
}

.text3 {
  font-family: "myfont2";
  font-size: 28px;
  padding-top: 5px;
}
