@font-face {
  font-family: "myfont";
  src: url("myfont-Light.ttf");
}

@font-face {
  font-family: "myfont2";
  src: url("myfont-Regular.ttf");
}

.master {
  position: relative;
  margin: auto;
  display: flex;
  width: 100%;
  width: 1024px;
  left: -10px;
  top: -10px;
}

.ebenegreen {
  position: absolute;
  align-content: center;
  justify-content: center;
  top: 20px;
  left: 20px;
  width: 84vw;
  max-width: 450px;
  padding-top: 10px;
  padding-left: 10px;
  border: 1px solid rgb(77, 76, 76);
  background-color: rgb(6, 158, 62);
  text-shadow: 1px 1px rgb(71, 217, 35);
}

.uberschrift {
  font-family: "myfont2";
  font-size: 38px;
  text-decoration: none;
  color: #000000;
}
.uberschrift:hover {
  font-family: "myfont2";
  font-size: 38px;
  text-decoration: none;
  color: rgb(18, 8, 148);
}

.text1 {
  font-family: "myfont2";
  font-size: 28px;
}

.text2 {
  border: none;
  font-family: "myfont2";
  font-size: 28px;
  padding-top: 5px;
}

.text3 {
  font-family: "myfont2";
  font-size: 28px;
  padding-top: 5px;
}
