@font-face {
  font-family: "myfont";
  src: url("myfont-Light.ttf");
}

@font-face {
  font-family: "myfont2";
  src: url("myfont-Regular.ttf");
}

div {
  border: 2px solid green;
}

.master {
  position: relative;
  display: flex;
  margin: auto;
  width: 825px;
  height: 1380px;
  margin-top: 3%;
}

.text {
  position: absolute;
  font-family: "myfont2";
  font-size: 42px;
  color: black;
  text-decoration-line: none;
}
.text:hover {
  color: rgb(18, 8, 148);
}

.wolke1 {
  position: absolute;
  width: 358px;
  height: 292px;
}
.wolke1text {
  position: absolute;
  width: 414x;
  height: 238px;
  top: 120px;
  left: 70px;
}

.wolke2 {
  position: absolute;
  width: 414x;
  height: 238px;
  top: 100px;
  left: 400px;
}
.wolke2text {
  position: absolute;
  width: 414x;
  height: 238px;
  top: 251px;
  left: 467px;
  z-index: 1;
}

.ebenewolkemenu1 {
  position: absolute;
  display: flex;
  margin: auto;
  width: 550px;
  height: 250px;
  top: 235px;
  left: 271px;
}
.ebenewolkemenu1 img {
  position: absolute;
  width: 175px;
  height: 143px;
}
.mw1 {
  top: 93px;
  left: 370px;
}
.mw2 {
  top: 110px;
  left: 193px;
}
.mw3 {
  top: 75px;
  left: 40px;
}
.mw1text {
  top: 93px;
  left: 370px;
}
.mw2text {
  top: 110px;
  left: 193px;
}
.mw3text {
  top: 75px;
  left: 140px;
}

.baum {
  position: absolute;
  top: 680px;
  left: 450px;
  width: 304px;
  height: 345px;
  z-index: 1;
}
.wiese {
  position: absolute;
  width: 818px;
  height: 420px;
  top: 952px;
}
.bus {
  position: absolute;
  width: 398px;
  height: 278px;
  top: 1050px;
  animation-name: schulbus;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes schulbus {
  0% {
    transform: translateX(105%);
  }
}
