@font-face {
  font-family: "myfont";
  src: url("myfont-Light.ttf");
}

@font-face {
  font-family: "myfont2";
  src: url("myfont-Regular.ttf");
}

body {
  position: relative;
}
/*
div {
  border: 2px solid rgb(128, 0, 9);
}
span {
  border: 2px solid green;
}
*/
.container {
  display: flex;
  width: 90%;
  padding: 4% 2%;
  box-sizing: border-box;
  height: 65vh;
}

.box {
  flex: 1;
  overflow: hidden;
  transition: 0.5s;
  margin: 0 2%;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
  line-height: 0;
}

.box > img {
  width: 200%;
  height: calc(100% - 10vh);
  object-fit: cover;
  transition: 0.5s;
}

.box > span {
  font-size: 3.8vh;
  color: #000000;
  display: block;
  text-align: center;
  height: 10vh;
  line-height: 2.6;
}

.box:hover {
  flex: 1 1 50%;
}
.box:hover > img {
  width: 100%;
  cursor: zoom-in;
}
.box:hover > span {
  color: rgb(18, 8, 148);
}

.fontuberschrift {
  font-family: "myfont2";
  font-size: 90px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

.linktext {
  font-family: "myfont";
  font-size: 30px;
  left: 0px;
}

.linktextspace {
  font-family: "myfont";
  font-size: 30px;
  left: 0px;
}
.button-21 {
  font-family: "myfont2";
  font-size: 30px;
  text-decoration: none;
  color: #000000;
}

.button-22 {
  font-family: "myfont2";
  text-align: left;
  font-size: 30px;
  text-decoration: none;
  color: #000000;
}

.button-22:hover {
  font-family: "myfont2";
  font-size: 30px;
  text-decoration: none;
  color: rgb(18, 8, 148);
}

.rocketseepic {
  font-family: "myfont2";
  font-size: 30px;
  text-decoration: none;
  color: #000000;
}

.rocketseepictext {
  font-family: "myfont2";
  font-size: 30px;
  text-decoration: none;
  color: #000000;
  width: 250px;
  height: 150px;
}

.rocketseepictext:hover {
  font-family: "myfont2";
  font-size: 30px;
  text-decoration: none;
  color: rgb(18, 8, 148);
}

.rocketpicunsichtbar {
  display: none;
}

.rocketpicsichtbar {
  display: flex;
}
/*
.rocketseepic:hover .rocketpicunsichtbar {
  display: flex;
}
*/

.forbidden {
  cursor: not-allowed;
  text-decoration: line-through;
}

.forbidden2 {
  cursor: not-allowed;
}

.button-25 {
  font-family: "myfont2";
  font-size: 30px;
  text-decoration: none;
  color: #ffffff;
}

.button-23 {
  background-color: #ffffff;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: "myfont2";
  font-size: 30px;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s,
    transform 0.1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
  margin-bottom: 5px;
}

.button-23:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow 0.2s;
}

.button-23:active {
  background-color: #f7f7f7;
  border-color: #000000;
  transform: scale(0.96);
}

.button-23:disabled {
  border-color: #dddddd;
  color: #dddddd;
  cursor: not-allowed;
  opacity: 1;
}


.button-100 {
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color: #000000;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  font-family: "myfont2";
  text-align: left;
  font-size: 30px;
  text-decoration: none;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0cf;
    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken(#000000, 15%);
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
}

.field-100 {
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color: #000000;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  font-family: "myfont2";
  text-align: left;
  font-size: 30px;
  text-decoration: none;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;;
    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken(#000000, 15%);
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
  }
  &:hover {
    color: #000000;;
    &:before {
      width: 100%;
    }
  }
}
