@font-face {
  font-family: "myfont";
  src: url("myfont-Light.ttf");
}

@font-face {
  font-family: "myfont2";
  src: url("myfont-Regular.ttf");
}

/*
div {
  border: 2px solid green;
}
*/
.master {
  position: relative;
  margin: auto;
  width: 825px;
  height: 1380px;
  margin-top: 3%;
}

.text {
  position: absolute;
  display: flex;
  font-family: "myfont2";
  font-size: 42px;
  color: black;
  text-decoration-line: none;
}

.wolke1 {
  position: absolute;
  width: 358px;
  height: 292px;
}
.wolke1text {
  position: absolute;
  width: 414x;
  height: 238px;
  top: 120px;
  left: 70px;
}
.wolke1text:hover {
  color: rgb(18, 8, 148);
}

.wolke2 {
  position: absolute;
  width: 414x;
  height: 238px;
  top: 120px;
  left: 400px;
}
.wolke2text1 {
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index: 2;
  top: 160px;
  left: 215px;
}
.wolke2text2 {
  position: absolute;
  top: 30px;
  left: 255px;
  z-index: 1;
}

.mw1 {
  top: 83px;
  left: 383px;
}
.mw2 {
  top: 90px;
  left: 180px;
}
.mw3 {
  left: 35px;
}
.mw4 {
  position: absolute;
  width: 220px;
  height: 179px;
  left: 35px;
}
.mw5 {
  position: absolute;
  width: 200px;
  height: 179px;
  left: 299px;
  top: -1px;
  z-index: 1;
}

.mwtext {
  font-size: 36px;
  z-index: 1;
}
.mw1text {
  top: 152px;
  left: 424px;
  color: rgb(13, 6, 113);
  text-shadow: 1px 1px rgb(132, 248, 46);
}
.mw2text {
  top: 162px;
  left: 223px;
}
.mw3text {
  top: 70px;
  left: 78px;
}
.speedtext {
  top: 25px;
  left: 128px;
}
.mws3text {
  top: 105px;
  left: 145px;
}
.mws5text {
  top: 100px;
  left: 95px;
  color: rgb(13, 6, 113);
  text-shadow: 2px 2px rgb(132, 248, 46);
}
.mws10text {
  top: 67px;
  left: 125px;
}
.mws15text {
  top: 82px;
  left: 185px;
}

.flagge {
  width: 49px;
  height: 32px;
  z-index: 1;
}
.de {
  position: relative;
  top: 85px;
  left: 355px;
}
.eng {
  position: relative;
  top: 85px;
  left: 370px;
}

.baum {
  position: absolute;
  top: 680px;
  left: 450px;
  width: 304px;
  height: 345px;
  z-index: 1;
}
.wiese {
  position: absolute;
  width: 818px;
  height: 420px;
  top: 952px;
}

.ebenebus {
  position: absolute;
  height: 300px;
  width: 400px;
  top: 1050px;
}

.bus {
  position: relative;
  width: 398px;
  height: 278px;
}
.animation {
  animation-name: schulbus;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes schulbus {
  0% {
    transform: translateX(105%);
  }
}
